body {
	background-color: #262626c0
}
.jumbotron {
	background-color: transparent;
}
#logo {
	height: 200px;
}
.jumbotron h1 {
	color:white;
}
p, h1, h4 {
	font-family: 'Roboto Slab', serif;
}
#chat {
	padding: 10px;
}
#doc {
	float: right;
}
.container {
    padding: 2% 2%;
}
.btn {
	background-color: #5faddb;
	color: white;
    border-color: #2e6da4;
}
.panel-primary>.panel-heading {
	background-color: #5faddb;
	color: white;
	font-weight: bold;
}
.panel-primary>.panel-body {
	background-color: #b2b2b2;
	border: 1px solid #5faddb;
	/* color: white; */
}	
.well {
	background-color: #b2b2b2;
	border: 1.5px solid #5faddb;
}
#speech-bubble-one {
	position: relative;
	background: #e6ffe6;
	border-radius: .4em;
	border: 1px solid #ccffcc;
}
#speech-bubble-one:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 11%;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #e6ffe6;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}
#speech-bubble-two {
	position: relative;
	background: #e6ffe6;
	border-radius: .4em;
	border: 1px solid #ccffcc;
}
#speech-bubble-two:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #e6ffe6;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}
#followup1-input {
	/* color: white; */
	font-weight: bold;
}
#noButton, #yesButton {
	width: 60px;
	padding: 10px;
	margin: 10px;
	border-radius: 4px;
	background-color: #5faddb;
	color: white;
	border-color: #2e6da4;
	
}
#noButton:hover, #yesButton:hover, .btn-success:hover, .btn-success:active {
    background-color: #2e6da4;
	border-color: #2e6da4;
	font-weight: bold;
}
#displayDiagnosis {
	/* color: white; */
	font-weight: bold;
	border: none;
	margin-bottom: 20px;
}