.jumbotron {
	background-color: #428bca
}



.jumbotron h1 {
	color:white;
}

p, h1, h4 {
	font-family: 'Roboto Slab', serif;
}


.container {
    padding: 5% 5%;
 }

 
 #speech-bubble-one {
	position: relative;
	background: #e6ffe6;
	border-radius: .4em;
	border: 1px solid #ccffcc;
}

#speech-bubble-one:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 11%;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #e6ffe6;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

#speech-bubble-two {
	position: relative;
	background: #e6ffe6;
	border-radius: .4em;
	border: 1px solid #ccffcc;
	  
}

#speech-bubble-two:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #e6ffe6;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}


